server {
  listen 5030;
  server_name localhost;

  client_max_body_size 4G;

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect off;
    proxy_buffering off;
    proxy_pass http://aiohttp;
  }

  location /static {
    root /tmp/static;
  }
}

upstream aiohttp {
  server unix:/tmp/aiohttp/1.sock fail_timeout=0;
  server unix:/tmp/aiohttp/2.sock fail_timeout=0;
  server unix:/tmp/aiohttp/3.sock fail_timeout=0;
  server unix:/tmp/aiohttp/4.sock fail_timeout=0;
}
