name: Test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:

  run_tests:

    name: Run tests
    runs-on: ubuntu-latest
    container: python

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        pip install pipenv
        mkdir .venv
        pipenv install --dev --skip-lock

    - name: Lint with flake8
      run: |
        pipenv run flake8 application --count --select=E9,F63,F7,F82 --show-source --statistics
        pipenv run flake8 application --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: pipenv run pytest --cov --cov-report xml:coverage.xml

    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v1
